.slick-dots{
    bottom: -2px;
}

.altura-img{
    height: 590px;
}

@media (max-width: 1024px){
    .altura-img{
        height: 550px;
    }
}

@media (max-width: 768px){
    .altura-img{
        height: 510px;
    }
}

@media (max-width: 640px){
    .altura-img{
        height: 460px;
    }
}