@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Este estilo maneja los botones del hero */
.slick-dots{
  position: relative;
}

.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}
